/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@import '~antd/dist/antd.css';

/* body {
  color: #666 !important;
  background: white !important;
} */


/* input {
  background: rgb(235, 236, 240) !important;
}

input:focus {
  background: rgb(255, 255, 255) !important;
}

.ant-modal-header, 
.ant-modal-footer,
.ant-drawer-header {
  border: none !important;
}

.drawer-menu .ant-drawer-body {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.drawer-menu .ant-drawer-wrapper-body {
  overflow: hidden !important;
} */

.landing-header {
  -webkit-box-shadow: 0 2px 8px #f0f1f2 !important;
  box-shadow: 0 2px 8px #f0f1f2 !important;
  border-bottom: solid rgb(232, 232, 232) 1px !important;
  background: white;
}

.landing-content {
  background: white;
}

.landing-header .landing-logos {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

/* antd carousel */
.ant-carousel .slick-slide {
  text-align: center;
  /* height: calc(100vh - 63px - 70px); */
  /* line-height: calc(100vh - 63px - 21px); */
  background: #364d79;
  overflow: hidden;
}

/* .ant-carousel .slick-slide h3 {
  color: #fff;
} */

.ant-carousel .slick-slide div {
  /* height: inherit; */
  /* height: inherit; */
  /* overflow: hidden !important; */
}

.ant-carousel .slick-slide img {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100% !important;
  /* height: 100% !important; */
}

.ant-form-item {
  margin-bottom: 10px !important;
}

.ant-form-item .ant-form-item-label {
  line-height: 20px !important;
}

.ant-form-item .ant-form-item-label > label::after {
  content: '' !important;
}

/* .ant-form-item .ant-form-item-control-wrapper .ant-form-item-control {
  line-height: 0px !important;
} */